
bin/
obj/

*.user
*.suo
*.userosscache
*.sln.docstates

*.dll
*.exe
*.pdb
*.cache
*.log

packages/
*.nupkg
project.lock.json
project.fragment.lock.json
*.nuspec

.vs/
.vscode/
.idea/
**/Properties/launchSettings.json

wwwroot/
publish/
out/

secrets.json

*.env
*.local.json

.DS_Store
Thumbs.db
